/* CSS Rules lifted from toolkit/themes/shared/in-content/common-shared.css */

:root {
    --in-content-page-color: rgb(21, 20, 26);
    --in-content-page-background: #fff;
    --in-content-primary-button-background: #0061e0;
    --in-content-primary-button-text-color: rgb(251,251,254);
    --in-content-primary-button-border-color: transparent;
    --in-content-box-background: #fff;
    --in-content-focus-outline-color: var(--in-content-primary-button-background);

    background-color: var(--in-content-page-background);
    color: var(--in-content-page-color);
}

body {
    --grey10: #e7e7e7;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #fff;
    color: rgb(74, 74, 79);
    font-size: 13px;
    overflow: hidden;
}

label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    padding-block-end: 1rem;
}

button {
    margin-inline: 0 auto;
    background-color: var(--in-content-primary-button-background);
    color: var(--in-content-primary-button-text-color);
    border-color: var(--in-content-primary-button-border-color);
    border-radius: 4px;
    font-weight: 600;
    padding: 7px 15px;
    min-height: 32px;
    font-size: 1em;
    margin-top: 8px;
    margin-left: 4px;
    min-width: 73px;
    text-align: center;
}

input[type='text'] {
    color: inherit;
    margin: 2px 4px;
    padding: 8px;
    tab-size: 4 !important;
    border-radius: 4px;
    appearance: none;
    border-width: 1px;
    background-color: var(--in-content-box-background);
}

input[type='text']:focus {
    border-color: transparent;
    outline: 2px solid var(--in-content-focus-outline-color);
    outline-offset: -1px;
}

img {
    margin-top: 12px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --in-content-page-color: rgb(251,251,254);
        --in-content-page-background: rgb(28,27,34);
        --in-content-border-color: rgba(249,249,250,0.2);
        --in-content-primary-button-text-color: rgb(43,42,51);
        --in-content-primary-button-background: rgb(0,221,255);
        --in-content-box-background: rgb(35, 34, 43);
    }
    body {
        background: #23212a;
        color: #fff;
    }
    input[type="text"] {
        background-color: transparent;
    }
}
